set terminal png size 1200,800
set xdata time
set timefmt "%s"
set output "activity.png"
# time range must be in same format as data file
#set xrange ["Mar-25-00:00:00":"Mar-26-00:00:00"]
set yrange [0:60]
set format x "%b %d\n%H:%M:%S"
set grid
set xlabel "Date\nTime"
set ylabel "Activity"
set title "Activity of Fedora Developers"
set key left box
plot "activity.txt" using 1:2 index 0 title "events" with lines

