on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

name: Run tests

jobs:

  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit checks
        run: pre-commit run --all-files


  licenses:
    name: Licenses
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install krb5-devel for python-gssapi
        run: sudo apt-get install krb5-config libkrb5-dev

      - name: Install tox
        run: pip install tox

      - name: Check licenses for datanommer.${{ matrix.package }}
        run: tox -e licenses
        working-directory: datanommer.${{ matrix.package }}

    strategy:
      matrix:
        package:
          - models
          - consumer
          - commands


  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.pyver }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.pyver }}

      - name: Install packages needed to run the tox tests
        # https://docs.timescale.com/timescaledb/latest/how-to-guides/install-timescaledb/self-hosted/ubuntu/installation-apt-ubuntu/#installation-apt-ubuntu
        run: |
          echo "deb http://apt.postgresql.org/pub/repos/apt/ $(lsb_release -c -s)-pgdg main" | sudo tee /etc/apt/sources.list.d/pgdg.list
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo add-apt-repository ppa:timescale/timescaledb-ppa
          sudo apt-get update
          sudo apt-get install krb5-config libkrb5-dev libpq-dev timescaledb-2-postgresql-13

      - name: Install tox
        run: pip install tox

      - name: Run unit tests for datanommer.${{ matrix.package }}
        run: tox -e py
        working-directory: datanommer.${{ matrix.package }}

      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v1
      #   with:
      #     name: ${{ matrix.tox_env }}
      #     flags: unittests
      #     env_vars: PYTHON
      #     fail_ci_if_error: true

    strategy:
      matrix:
        pyver:
          - 3.7
          - 3.8
          - 3.9
        package:
          - models
          - consumer
          - commands
